{
  "extends": [
    "airbnb",
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "react/jsx-no-constructed-context-values": 0,
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/first": 0,
    "react/jsx-filename-extension": 0,
    "react-hooks/exhaustive-deps": 0,
    "import/prefer-default-export": 0,
    "no-return-assign": 0,
    "react/require-default-props": 0,
    "no-param-reassign": 0,
    "no-alert": 0,
    "react/jsx-props-no-spreading": [
      2,
      {
        "exceptions": ["Button"]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js"]
      }
    }
  }
}
